grafana:
  enabled: false

prometheus:
  prometheusSpec:
    externalUrl: "http://172.191.10.213/prometheus"
    routePrefix: "/prometheus"
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 2Gi